* {
    margin: 0;
    padding: 0;
}

.btn {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 40px !important;
    background-color: #EFF6FF !important;
    transition: 0.3s ease;
    /* for smooth transition */
}

.btn svg {
    color: black;
    font-size: 20px;
}

.btn:hover {
    background-color: #BBE0F4 !important;
}

::-webkit-scrollbar {
    width: 3px !important;
    /* Width for vertical scrollbar */
    height: 10px !important;
    /* Height for horizontal scrollbar */
    margin-left: 50px !important;
    padding-left: 50px !important;
}

::-webkit-scrollbar-thumb {
    opacity: 0;
}

.sizebar:hover ::-webkit-scrollbar-thumb {
    opacity: 1;
    background-color: blue;
}

.list:hover {
    background-color: rgb(225, 224, 224);
}

.body_ {
    width: 100%;
}

.active {
    background-color: rgb(225, 224, 224);
    transition: all 0.3 ease-in-out;
}

table {
    overflow: auto !important;
    max-width: 100%;
    white-space: nowrap;
}

.ptr .header {
    backdrop-filter: blur(5px) !important;
    background: rgba(255, 255, 255, 0.8) !important;
}

.sidebar.active {
    visibility: hidden !important;
    opacity: 0 !important;
    width: 0px !important;
    transition: all 0.5s ease-in-out;
}

.main-content.active {
    width: 100% !important;
    margin-left: 0px !important;
    transition: all 0.5s ease-in-out !important;
}

.sidebar.notactive {
    visibility: visible !important;
    opacity: 1 !important;
    width: 20% !important;
    transition: all 0.5s ease-in-out !important;
}


.main-content.notactive {
    width: 80% !important;
    margin-left: 20% !important;
    transition: all 0.5s ease-in-out !important;
}